.user {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.user:last-child {
  border: 0;
}

.user_info, .tools {
  padding: 10px 0;
}
.user_info {
  flex: 1;
}

.data {
  font-size: 14px;
  margin-bottom: 6px;
}
.data a {
  color: #000;
}
.about {
  font-size: 13px;
}