body {
  font-family: Arial, Helvetica, sans-serif;
  background: #EDEEF0;
}
a {
  color: #fff;
  text-decoration: none;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  font-size: 14px;
  box-sizing: border-box;
}
button {
  border: none;
}
.container {
  margin: 0 auto;
  width: 1124px;
  display: flex;
  align-items: flex-start;
}
.app {
  height: 100vh;
}