body {
  font-family: Arial, Helvetica, sans-serif;
  background: #EDEEF0;
}
a {
  color: #fff;
  text-decoration: none;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
}
button {
  border: none;
}
.container {
  margin: 0 auto;
  max-width: 1124px;
  display: flex;
  align-items: flex-start;
}
