.send {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message_textarea {
  resize: none;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
}