.profile_info {
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.data {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.username {
  font-size: 19px;
  margin-bottom: 5px;
}
.about {
  font-size: 13px;
  color: rgb(90, 90, 90);
}