.post_item {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 15px;
  background: #fff;
  margin-bottom: 10px;
}

.post_head {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.post_content {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.post_tool {
  padding-top: 14px;
  display: flex;
  align-items: center;
}

.tool_item {
  display: flex;
  align-items: center;
}

.count {
  margin: 0 10px;
  font-size: 13px;
}

.tool_item svg {
  cursor: pointer;
}
.up {
  color: #6C9007;
}
.down {
  color: #d53c30;
}

.post_image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.post_head img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.author {
  font-size: 16px;
  margin-bottom: 5px;
}

.date {
  font-size: 12px;
  color: #adadad;
}