.profile_content {
  display: flex;
}

.narrow_block {
  width: 225px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.wide_block {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.narrow_block>div, .wide_block>div {
  margin-bottom: 10px;
}