.create_post_area {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.create_post {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #EDEEF0;
  margin-bottom: 10px;
}

button {
  float: right;
}