.create_post_area {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

textarea {
  width: 100%;
  resize: none;
  height: 80px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #EDEEF0;
  margin-bottom: 10px;
}

button {
  float: right;
}